# PDF extraction with cleaning

In [3]:
import pdfplumber
import pandas as pd
import re,csv
import numpy as np

#arguments that will read entire narration
def tb():
    ts={
         "vertical_strategy":"lines",
         "horizontal_strategy":"text",
         "min_words_horizontal":1  
    }
    return ts

#PDF extraction code
file = r'axis.pdf'
pdf = pdfplumber.open(file)
pdf_text=[]
counter = 0
for page in pdf.pages:
    page = pdf.pages[counter] 
    pdfdata = page.extract_table(tb())
    dff = pd.DataFrame(pdfdata)
    pdf_text.append(dff)
    counter = counter + 1
pdf_text
d1 = pd.concat(pdf_text, axis=0)
d1 = d1.replace('',np.nan,regex=True)
d1 = d1.replace(r'\n',' ', regex=True)
d =d1
df1 = d.rename(columns = {0:"Date"})



#Code of cleaning 
for i in df1.columns:
    if 'date' in str(i).lower():
        dat=str(i)
        df1=df1.rename(columns = {dat:'Date'})
df1 = df1.loc[:,~df1.columns.duplicated()] # remove duplicate columns
df1=df1.dropna(how='all',axis=1)
df2 = pd.DataFrame()                       
counter=0
blank_df=pd.DataFrame()


#narration shift with respect to date
def rolling_group(val):
    if pd.notnull(val): rolling_group.group +=1
    return rolling_group.group
rolling_group.group = 0
def joinFunc(g,column):
    col =g[column]
    joiner = "/" if column == "Date" else ""
    s = joiner.join([str(each) for each in col if pd.notnull(each)])
    s = re.sub("(?<=&)"+joiner," ",s)
    s = re.sub("(?<=-)"+joiner,"",s)
    s = re.sub(joiner*2,joiner,s)
    
    return s
groups = df1.groupby(df1['Date'].apply(rolling_group),as_index=False)
groupFunct = lambda g: pd.Series([joinFunc(g,col) for col in g.columns],index=g.columns)
x=groups.apply(groupFunct)
x['Date'] = pd.to_datetime(x['Date'],errors='coerce',dayfirst=True).dt.strftime('%Y-%m-%d')

try:
#delete rows which have opening balance etc.
    x = x[~x['Particulars'].isin(['Opening Balance','Balance B/F','C/F','B/F','Total'])]
    x = x[~x['Particulars'].str.contains('Opening|Closing|Brought|Carried',flags=re.IGNORECASE)]
    print("Particulars")
except:
    pass


# data shift to our custom based headers
list=['Date','Narration','Debit','Credit','Type','df','dfd']
for col in x.columns:
    x=x.replace('',np.nan)

    x[col] = x[col].replace(np.nan,0)
    x[col] = x[col].replace('NaN',0)
    x[col] = x[col].astype(str)

    if any(x[col].iloc[:5].str.contains(r'\d{4}-\d{2}-\d{2}|d{2}-\d{2}-\d{4}', regex=True, na=True)):
      
        df2.insert(counter,list[counter],x[col])
        counter+=1
        
    # To bundle up the Narration
    elif any(x[col].str.len()>25):
        x[col] = x[col].replace('nan','0')
        x[col] = x[col].replace('-','0')
        df2.insert(counter,list[counter],x[col])
        counter+=1
    
    elif any(x[col].iloc[:5].str.contains(r'\d+\.\d+', regex=True, na=True)):
        x[col] = x[col].replace('nan','0')
        x[col] = x[col].replace('-','0')
        df2.insert(counter,list[counter],x[col])
        counter+=1
        

    elif all(x[col].iloc[:5].str.contains(r'Cr|Dr|CR|DR|Credit|Debit|CREDIT|DEBIT',regex=True, na=True)):

        df2['Amount'] = df2.Debit.str.cat(x[col])
try:
#replace nan to 0 value in credit and debit
    df2 = df2.loc[~((df2['Credit'] == '0') & (df2['Debit'] == '0') & (df2['Date'] == '0'))]
    df2 = df2.fillna({'Credit':0.00,'Debit':0.00})
    df2=df2[(df2 == 0.0).sum(1) <= 2]
except:
    pass

try:
    df2['Credit']=df2['Credit'].replace('-',0.00)
    df2['Debit']=df2['Debit'].replace('-',0.00)
    df2=df2[(df2 == 0.0).sum(1) <= 2]
except:
    pass
try:
    df2['Credit'] = df2['Credit'].str.extract(r'(\d+.\d+)').astype('float')
    df2['Debit'] = df2['Debit'].str.extract(r'(\d+.\d+)').astype('float')
except:
    pass
df2 = df2.fillna({'Credit':0,'Debit':0})


df2=df2[['Date','Narration','Debit','Credit']]
indexAge = df2[(df2['Date'] == '0')].index
df2.drop(indexAge , inplace=True)
df2.head()

,Date,Narration,Debit,Credit
1,2018-04-05,DNEFT/SBIN218096104194/RAVI KIRAN,5000.00,0.000000
2,2018-04-07,PROJECTS//ATTN/BRN-CLG-CHQ PAID TO JALPA,0.00,200000.000000
3,2018-04-07,SHANTIBHAI PITHADIRTGS/SK/UTIBR520180407003553...,35000.00,0.000000
4,2018-04-07,RESHBHAI CHSAK NEFT/RTGS Charges on Rs.200000 at,200000.00,0.000000
5,2018-04-07,SOL:3397,29.50,0.000000
...,...,...,...,...
101,2019-03-25,TO/914010015157215/250319/12:48/AHMEDAATM-CASH...,50000.00,0.000000
102,2019-03-25,D,10000.00,0.000000
103,2019-03-30,By Clg 003959 485 Ahmedabad910010047473910:WT...,0.00,150000.000000
104,2019-03-31,2019910010047473910:Int.Pd:01-01-2019 to 31-03-,476.00,0.000000
105,2019-03-31,2019TRANSACTION TOTALCLOSING BALANCE,4255151.37,1523.004344